#preview-container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.697);

  #close {
    width: 30%;
    display: flex;
    justify-content: flex-end;

    #icon {
      color: white;
      font-size: 1.5rem;
      margin: 0.5rem 0;
      cursor: pointer;

      &:hover {
        color: orangered;
      }
    }
  }

  #preview {
    height: 60%;
    width: 30%;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 0.75rem;
    transition: opacity 500ms;
    position: relative;

    #prev,
    #next {
      color: white;
      font-size: 2rem;
      background-color: white;
      border-radius: 100%;
      padding: 0.5rem;
      cursor: pointer;
    }

    #prev {
      position: absolute;
      top: 50%;
      left: -1.5rem;
      transform: translateY(-50%);
    }

    #next {
      position: absolute;
      top: 50%;
      right: -1.5rem;
      transform: translateY(-50%);
    }
  }

  #mini-preview {
    width: 25%;
  }
}
