#product {
  display: flex;
  flex-grow: 1;

  @media (max-width: 416px) {
    flex-direction: column;
    height: 85%;
  }

  #left,
  #right {
    width: 50%;
  }

  #left {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (max-width: 416px) {
      width: 100%;
      min-height: 40%;

      #preview-mobile {
        background-color: red;
        height: 100%;
        width: 100%;
        background-image: url("images/image-product-1.jpg");
        background-size: cover;
        transition: opacity 500ms;
        position: relative;

        #prev,
        #next {
          height: 2rem;
          width: 2rem;
          border-radius: 100%;
          font-size: 0.2rem;
          background-color: white;
          position: absolute;
          transform: translateY(-50%);
          top: 50%;
        }

        #prev {
          left: 1rem;
        }

        #next {
          right: 1rem;
        }
      }
    }

    #preview {
      background-color: red;
      height: 70%;
      width: 55%;
      background-image: url("images/image-product-1.jpg");
      background-size: cover;
      border-radius: 0.5rem;
      transition: opacity 500ms;
      cursor: pointer;
    }
  }

  #right {
    width: 27%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;

    @media (max-width: 416px) {
      width: 90%;
      margin: 1.5rem auto;
      gap: 0.75rem;
      display: flex;
      flex-grow: 1;
      align-items: flex-start;
      justify-content: flex-start;
    }

    p,
    h1,
    h2 {
      margin: 0;
    }

    #vendor {
      font-size: 1.5rem;
      font-weight: 800;

      @media (max-width: 416px) {
        font-size: 0.75rem;
      }
    }

    #name {
      width: 75%;

      @media (max-width: 416px) {
        font-size: 1.5rem;
        font-weight: 900;
      }
    }

    #desc {
      color: grey;
      font-size: 0.85rem;
      height: 6rem;

      @media (max-width: 416px) {
        width: 80%;
        line-height: 1.25rem;
        font-size: 0.75rem;
      }
    }

    #pricing {
      @media (max-width: 416px) {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
      }

      #price {
        display: flex;
        gap: 0.5rem;
        align-items: center;

        p {
          &:first-of-type {
            font-size: 1.5rem;
            font-weight: 800;
          }

          &:last-of-type {
            background-color: rgba(255, 0, 0, 0.118);
            width: 2rem;
            padding: 0.25rem;
            border-radius: 0.5rem;
            color: rgba(255, 0, 0, 0.627);
            font-weight: 700;
            font-size: 0.85rem;
          }
        }
      }

      #full-price {
        font-weight: 900;
        font-size: 1rem;
        letter-spacing: 0.1rem;
        color: grey;
        text-decoration: line-through;
      }
    }
  }
}
