#mini-preview {
  margin-top: 2rem;
  display: flex;
  justify-content: space-around;
  gap: 1rem;
  width: 55%;

  .thumbnail {
    position: relative;
    height: 5rem;
    width: 5rem;
    background-size: contain;
    border-radius: 0.6rem;
    background-repeat: no-repeat;
    border: solid 2px transparent;
    cursor: pointer;

    #filter {
      position: absolute;
      top: 0;
      height: 5rem;
      width: 5rem;
      border-radius: 0.6rem;
      background-color: white;
      opacity: 0.5;
    }
  }
}
